[DEFAULT]
Numvertical = 1
Numhorizontal = 1

[BASE]
Pagenames = Rundata Latency
Graphnames = runtime throughput read update insert
Datasets = irisdata irisgp3data pgresdata pgresdata10 pgresgp3data pgresgp3data10
Outputdir  = output

####
#
#  Graph layouts: Each Pagename above has one section below detailing the 
#  page layout, title, and output filename, and then an additional section
#  for each graph (Graphname) on that page detailing its label, which Dataset is
#  annotated (if any), and the graph style. Note that the names of the 
#  sub sections set the graph layout. If there are 2 vertical graphs on a page
#  the sub sections need to have the suffix .0.0 and .1.0. If they were to
#  be horizontal, the suffixes would be .0.0 and .0.1. And so on.
#
####

[Rundata]
Filename=rundata.pdf
Title=Run data 10M operations, large instance,
    70%% read, 20%% update, 10%% insert
Numvertical = 2

[Rundata.0.0]
Graphname   = runtime
Ylabel     = Run time (min)
Annotation = irisdata
Style      = loglog

[Rundata.1.0]
Graphname   = throughput
Ylabel     = Throughput (IOPS)
Annotation = irisdata
Style      = semilogx

[Latency]
filename=latency.pdf
title=Latency data 10M operations, large instance,
    70%% read, 20%% update, 10%% insert
Numvertical = 3
Numhorizontal = 1

[Latency.0.0]
Graphname   = read
Ylabel     = Read (us)
Annotation = irisdata
Style      = loglog

[Latency.1.0]
Graphname   = update
Ylabel     = Update (us)
Annotation = irisdata
Style      = loglog

[Latency.2.0]
Graphname   = insert
Ylabel     = Insert (us)
Annotation = irisdata
Style      = loglog

####
#
#  Dataset details; each file name within each Dataset is composed of the prefix,  
#  a Graphname, and the suffix. Each file is x/y data that composes a single line on 
#  a single graph. But each Dataset has one file per Graphname, meaning that
#  if there are 5 Graphnames and 6 Datasets there should be 30 files
#  with six sections below, one section per Dataset.
#
####

[irisdata]
Legend    = IRIS Volumez
Prefix    = proc/iris_
Suffix   = .txt
Marker    = o
Color     = blue
Linestyle = solid

[irisgp3data]
Legend    = IRIS GP3
Prefix    = proc/iris_
Suffix   = _10M_gp3.txt
Marker    = *
Color     = green
Linestyle = dashed

[pgresdata]
#Legend    = Pgres IO2
Prefix    = proc/pgres_
Suffix   = .txt
Marker    = x
Color     = red
Linestyle = solid

[pgresdata10]
Legend    = Pgres IO2_10
Prefix    = proc/pgres_
Suffix   = _10M_io2_10.txt
Marker    = d
Color     = brown
Linestyle = solid

[pgresgp3data]
#Legend    = Pgres GP3
Prefix    = proc/pgres_
Suffix   = _10M_gp3.txt
Marker    = +
Color     = orange
Linestyle = dashed

[pgresgp3data10]
Legend    = Pgres GP3_10
Prefix    = proc/pgres_
Suffix   = _10M_gp3_10.txt
Marker    = .
Color     = black
Linestyle = dashed
